<a href="https://colab.research.google.com/github/Zaheer-Aswath/DataScience-Python/blob/main/Edureka/mohammed_zaheer_day19_diy_solution_doc.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Q1. Problem Statement: Measures of Central Tendency- I**

Write a Python program to declare a 1-D array. With the help of the statistics library, calculate the Mean, Median, and Mode.

**Note:** You can write any data of your choice inside the array

In [ ]:
import pandas as pd
import numpy as np
from statistics import mean
from statistics import median
from statistics import mode

x=[1,2,3,4,5,6,2,3,4,5,5,5,5]
y=np.array(x)

print("Mean of the Array is: \n", mean(y))
print("Median of the Array is: \n", median(y))
print("Mode of the Array is: \n", mode(y))

Mean of the Array is:
 3
Median of the Array is:
 4
Mode of the Array is:
 5

**Q2. Problem Statement: Measures of Central Tendency- II**

Write a Python program to declare a DataFrame as shown in the dataset section below and calculate the Mean, Median, and Mode of the entire DataFrame.

**Note:** You can write any data of your choice inside the DataFrame

In [ ]:
import pandas as pd
import numpy as np
from statistics import mean
from statistics import median
from statistics import mode

# initialize data of lists.
data = {'Apple': [10, 7, 55, 15,7,5],'Orange': [20,14,15,14,1,4],'Banana': [30,21,8,1,1,9],'Pear': [40,28,12,8,8,2]}

# Creates pandas DataFrame.
df = pd.DataFrame(data, index=['Bag1','Bag2','Bag3','Bag4','Bag5','Bag6'])

display(df)

print("\nCalculating the Mean\n")
print(df.mean())
print("\nCalculating the Median\n")
print(df.median())
print("\nCalculating the Mode\n")
print(df.mode())

      Apple  Orange  Banana  Pear
Bag1     10      20      30    40
Bag2      7      14      21    28
Bag3     55      15       8    12
Bag4     15      14       1     8
Bag5      7       1       1     8
Bag6      5       4       9     2

Calculating the Mean

Apple     16.500000
Orange    11.333333
Banana    11.666667
Pear      16.333333
dtype: float64

Calculating the Median

Apple      8.5
Orange    14.0
Banana     8.5
Pear      10.0
dtype: float64

Calculating the Mode

   Apple  Orange  Banana  Pear
0      7      14       1     8

**Q3. Problem Statement: Measures of Central Tendency- III**

**Load the “Books.csv” dataset into a DataFrame and perform the following tasks:**

1. Perform initial analysis on the dataset using the info() and the describe() functions

2. Group the data based on the "Author" column and calculate the average user ratings and average price, and write them in new columns

3. Find out which of the authors have written the maximum number of books

In [ ]:
from pandas.core.groupby import groupby
import pandas as pd
import numpy as np

df1 = pd.read_csv("Books.csv")
#display(df1)

##Case - 1:

print("\n1. Perform initial analysis of the dataset using the info() and the describe() functions\n")
df1.info()
print("\n",df1.describe())

##Case - 2:

print("\n2. Group the data based on the Author column and calculate the average user ratings and average price, and write them in new columns\n")

#Group the data based on the "Author" column and calculate the average user ratings and write them in new columns

author_avguser = df1.groupby(["Author"],as_index=False).mean("User Rating")
author_avguser.drop(columns = {"Reviews","Price","Year"},inplace=True)
author_avguser.rename(columns = {'User Rating':'Average_User_Rating'}, inplace = True)
display(author_avguser)

#Group the data based on the "Author" column and calculate the average price and write them in new columns

author_avgprice = df1.groupby(["Author"],as_index=False).mean("Price")
author_avgprice.drop(columns = {"User Rating","Reviews","Year"},inplace=True)
author_avgprice.rename(columns = {'Price':'Average_Price'}, inplace = True)
display(author_avgprice)

##Case - 3:

print("\n3. Find out which of the authors have written the maximum number of books\n")
print("\nMaximum number of books written by:")
print(df1["Author"].mode())

1. Perform initial analysis of the dataset using the info() and the describe() functions

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         700 non-null    object
 1   Author       700 non-null    object
 2   User Rating  700 non-null    float64
 3   Reviews      700 non-null    int64
 4   Price        700 non-null    int64
 5   Year         700 non-null    int64
 6   Genre        700 non-null    object
dtypes: float64(1), int64(3), object(3)
memory usage: 38.4+ KB

        User Rating        Reviews       Price         Year
count   700.000000     700.000000  700.000000   700.000000
mean      4.639857   19255.195714   12.700000  2015.500000
std       0.218586   23613.443875    9.915162     4.034011
min       3.300000      37.000000    0.000000  2009.000000
25%       4.500000    4987.250000    7.000000  2012.000000
50%       4.700000   10284.000000   11.000000  2015.500000
75%       4.800000   23358.000000   15.000000  2019.000000
max       4.900000  208917.000000  105.000000  2022.000000

2. Group the data based on the Author column and calculate the average user ratings and average price, and write them in new columns

                 Author  Average_User_Rating
0      Abraham Verghese                  4.6
1        Adam Gasiewski                  4.4
2         Adam Mansbach                  4.8
3          Adam Silvera                  4.7
4          Adam Wallace                  4.8
..                  ...                  ...
300    William P. Young                  4.6
301    Wizards RPG Team                  4.8
302  Wonder House Books                  4.6
303  Workman Publishing                  4.8
304        Zhi Gang Sha                  4.6

[305 rows x 2 columns]

                 Author  Average_Price
0      Abraham Verghese      11.000000
1        Adam Gasiewski       6.000000
2         Adam Mansbach       9.000000
3          Adam Silvera       8.000000
4          Adam Wallace       6.250000
..                  ...            ...
300    William P. Young       8.000000
301    Wizards RPG Team      27.000000
302  Wonder House Books      16.000000
303  Workman Publishing       7.666667
304        Zhi Gang Sha      11.500000

[305 rows x 2 columns]

3. Find out which of the authors have written the maximum number of books


Maximum number of books written by:
0    Gary Chapman
1     Jeff Kinney
Name: Author, dtype: object