<a href="https://colab.research.google.com/github/Zaheer-Aswath/DataScience-Python/blob/main/Edureka/mohammed_zaheer_day12_diy_solution_doc.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Q1. Problem Statement: Data Filtering using Pandas**


Write a Python program that reads the player.csv (provided on LMS) file into a DataFrame, then shows only those players who played more than 150 innings and scored at least two centuries and 35 fifties.

In [ ]:
import pandas as pd

df = pd.read_csv("player.csv")
#df
df[(df['innings']>150) & (df['100s']>2) & (df['50s']>35)]

   rank             name  matches  innings  runs  highest  100s  50s
0     1          V Kohli      207      199  6283      113     5   42
5     6  A B de Villiers      184      170  5162      133     3   40

**Q1. Problem Statement: Data Filtering using Pandas**

Work out:

In [ ]:
#filter condition - 1:players who played more than 150 innings

filter1 = df['innings'] > 150
df[filter1]

In [ ]:
#filter condition - 2:players who played atleast 2 centuries(alteast means more than 2 centuries)

filter2 = df['100s'] > 2
df[filter2]

In [ ]:
# combining filter 1 and filter 2 conditions:

filter3 = filter1 & filter2
df[filter3]

In [ ]:
#filter condition - 3:players who played atleast 35 fiftes(alteast means more than 35)

filter4 = df['50s'] > 35
df[filter4]

In [ ]:
# combining filter 3 and filter 4 conditions:

filter5 = filter3 & filter4
df[filter5]

**Q2. Problem Statement: Data Filtering using Pandas**


**Use the above data set and do the below tasks.**


1. Remove the data of players who didn't score a single century

2. Replace the player name "V Kohli " with "Virat Kohli “

3. How many matches they weren't getting a chance for batting to fetch that and stored in a new column and named it as “not batting”

4. Fetch data where they scored neither 100 nor 50 in matches and store it in the new column as renamed as “low score innings”

In [ ]:
import pandas as pd

# Read csv file
df2 = pd.read_csv("player.csv")
#df2

#2.1 --> Remove the data of players who didn't score a single century

df2=df2[df2['100s'] != 0]

#2.2 --> Replace the player name "V Kohli " with "Virat Kohli"

df2=df2.replace('V Kohli','Virat Kohli')

#2.3 --> How many matches they weren't getting a chance for batting to fetch that and stored in a new column and named it as "not batting"

df2['not batting'] = df2['matches']-df2['innings']

#2.4 --> Fetch data where they scored neither 100 nor 50 in matches and store it in the new column as renamed as "low score innings"

df2['low score innings'] = df2['innings'] - (df2['100s'] + df2['50s'])

# Final output:

df2

,rank,name,matches,innings,runs,highest,100s,50s,not batting,low score innings
0,1,Virat Kohli,207,199,6283,113,5,42,8,152
1,2,S Dhawan,194,191,5784,106,2,44,3,145
2,3,Rohit Sharma,213,208,5611,109,1,40,5,167
3,4,Suresh Raina,205,200,5528,100,1,39,5,160
4,5,David Warner,150,150,5449,126,4,50,0,96
5,6,A B de Villiers,184,170,5162,133,3,40,14,127
6,7,Chris Gayle,142,141,4965,175,6,31,1,104

In [ ]:
#Question 2.2: Replace the player name "V Kohli " with "Virat Kohli “
df2=df2.replace('V Kohli','Virat Kohli')
df2

   rank             name  matches  innings  runs  highest  100s  50s
0     1      Virat Kohli      207      199  6283      113     5   42
1     2         S Dhawan      194      191  5784      106     2   44
2     3     Rohit Sharma      213      208  5611      109     1   40
3     4     Suresh Raina      205      200  5528      100     1   39
4     5     David Warner      150      150  5449      126     4   50
5     6  A B de Villiers      184      170  5162      133     3   40
6     7      Chris Gayle      142      141  4965      175     6   31

In [ ]:
# Question - 2.3: How many matches they weren't getting a chance for batting to fetch that and stored in a new column and named it as “not batting”
df2['not batting'] = df2['matches']-df2['innings']
df2

,rank,name,matches,innings,runs,highest,100s,50s,not batting
0,1,Virat Kohli,207,199,6283,113,5,42,8
1,2,S Dhawan,194,191,5784,106,2,44,3
2,3,Rohit Sharma,213,208,5611,109,1,40,5
3,4,Suresh Raina,205,200,5528,100,1,39,5
4,5,David Warner,150,150,5449,126,4,50,0
5,6,A B de Villiers,184,170,5162,133,3,40,14
6,7,Chris Gayle,142,141,4965,175,6,31,1

In [ ]:
# Question - 2.4: Fetch data where they scored neither 100 nor 50 in matches and store it in the new column as renamed as “low score innings”
df2['low score innings'] = df2['innings'] - (df2['100s'] + df2['50s'])
df2

,rank,name,matches,innings,runs,highest,100s,50s,not batting,low score innings
0,1,Virat Kohli,207,199,6283,113,5,42,8,152
1,2,S Dhawan,194,191,5784,106,2,44,3,145
2,3,Rohit Sharma,213,208,5611,109,1,40,5,167
3,4,Suresh Raina,205,200,5528,100,1,39,5,160
4,5,David Warner,150,150,5449,126,4,50,0,96
5,6,A B de Villiers,184,170,5162,133,3,40,14,127
6,7,Chris Gayle,142,141,4965,175,6,31,1,104